div#footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background: #0F0F0F;
    color: var(--ghost);
    padding-left: 16px;
    padding-right: 2px;
    font-family: var(--font-mono);
    bottom: 0vh;
    position: fixed;
    height: 50px;
    width: calc(100vw - 18px);
    user-select: none;
    font-size: 16px;
    transition: height var(--transition-footer);
    z-index: 100;
}

div#footer:hover {
    height: 75px;
}

div#footer>img {
    height: 50px;
    transition: height var(--transition-footer);
}

div#footer:hover>img {
    height: 75px;
}

div#footer>div#footerInfo {
    display: flex;
    flex-direction: column;
    transition: row-gap var(--transition-footer);
    row-gap: 0px;
    white-space-collapse: preserve-spaces;
}

div#footer>div#footerInfo>span:first-child {
    font-size: 16px;
    transition: font-size var(--transition-footer);
}

div#footer:hover>div#footerInfo>span:first-child {
    font-size: 14px;
}

div#footer>div#footerInfo>span:first-child>span#footerDevInfo {
    opacity: 0;
    transition: opacity var(--transition-footer), font-size var(--transition-footer)
}

div#footer:hover>div#footerInfo>span:first-child>span#footerDevInfo {
    opacity: 1;
}

a#footerDevInfoDEADCODELogo {
    font-family: "Uni Sans CAPS";
    font-weight: bold;
    color: var(--ghost);
    text-decoration: none;
}

a#footerDevInfoDEADCODELogo::after, a#footerDevInfoDEADCODELogo::before {
    all: unset;
    font-family: "Montserrat";
    content: "×";
}
a#footerDevInfoDEADCODELogo::before {padding-right: 1.25px;} a#footerDevInfoDEADCODELogo::after {padding-left: 1.25px;}

div#footer>div#footerInfo>span:not(:first-child) {
    font-size: 16px;
    opacity: 0;
    height: 0;
    transition: opacity var(--transition-footer), height var(--transition-footer), font-size var(--transition-footer);
}

div#footer:hover>div#footerInfo>span:not(:first-child) {
    font-size: 18px;
    height: 23px;
    opacity: 1;
}

div#footer:hover>div#footerInfo {
    row-gap: 4px;
}

@media screen and (max-width: 907px) {
    div#footer {
        display: none;
    }
}